.price-bandeau-container {
    height: fit-content;
    background: var(--passheure-gray) 0% 0% no-repeat padding-box;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

.price-title {
    padding: 12px;
    text-align: center;
}

.price-title p {
    font: normal normal normal 40px/50px var(--passheure-font-family-blackchancery);
    margin: 0px;
    padding: 0px;
    color: var(--passheure-white);
}

.table-price {
    display: grid;
    grid-auto-flow: column;  
    align-items: center;
    justify-content: center;
}

.period-type {
    display: block;
    font: normal normal normal 20px/17px var(--passheure-font-family-perpetua);
    letter-spacing: 0px;
    color: var(--passheure-white);
    text-align: center;
}

.period-img {
    width: 175px;
    aspect-ratio: 1/1;
    border-bottom: 2px dashed var(--passheure-blue);
}

.table-legend {
    font: normal normal normal 38px/43px var(--passheure-font-family-perpetua);
    letter-spacing: 0px;
    color: var(--passheure-white);
    text-align: center;
}

@media(max-width:1250px) {
    .period-img  {
        width: 150px; 
    }
}

@media(max-width:1000px) {
    .period-type {
        font: normal normal normal 14px/16px var(--passheure-font-family-perpetua);
    }

    .period-img  {
        width: 100px; 
    }
}

@media(max-width:700px) {
    .table-price {
        grid-auto-flow: row;
    }

    .period-type {
        display: flex;
        font: normal normal normal 20px/17px var(--passheure-font-family-perpetua);
    }

    .period-img  {
        width: 175px; 
    }
}

@media(max-width:500px) {
    .period-type {
        font: normal normal normal 14px/16px var(--passheure-font-family-perpetua);
    }

    .period-img  {
        width: 100px; 
    }
}