<div class="price-bandeau-container">
    <div class="price-title">
        <p>Tarifs</p>
        <img src="/assets/img/inter-containers/icon-trait-3.svg" height="45px" width="auto">
    </div>
    <div class="table-price">
        <div class="period-type">
            <div class="period-img">

            </div>
            <div class="period-creuse">
                <img src="/assets/img/prices/Heure-creuse.svg" alt="Heures creuses">
                <p>Heures creuses <br>
                    (journées en semaine)</p>
            </div>
            <div class="period-pleine">
                <img src="/assets/img/prices/Heure-pleine.svg" alt="Heures pleines">
                <p>Heures pleines <br>
                    (soirs et week-end)</p>
            </div>
        </div>
        <price-colonne 
            *ngFor="let price of prices" 
            [price]="price">
        </price-colonne>
    </div>
    <div class="table-legend">
        <p>Prix par personne</p>
    </div>
</div>