.title-container {
    padding-top: 45px;
    display: grid;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    left:0;
    right:0;
}

.main {
    background-size:cover;
    width:auto;
    height: 100vh;
}

.secondary {
    margin-top: 125px;
    background-size:cover;
    width:100%;
    aspect-ratio: 4/1;
    min-height: 50vh;
    max-height: 100vh;
}

.title-container img {
    display: flex;
    pointer-events: none;
    position: absolute;
    justify-self: center;
    height: 100%;
    width: auto;
    min-width: 100%;
    z-index: -1;
  }

.title {
    text-align: center;
    margin: auto;
}

.title h1 {
    font: normal normal normal 50px/63px var(--passheure-font-family-blackchancery);
    letter-spacing: 0px;
    color: var(--passheure-white);
}

.underline {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:700px) {
    .title-container {
        padding-top: 70px;
    }

    .title h1 {
        font: normal normal normal 40px/53px var(--passheure-font-family-blackchancery);
    }
}

@media(max-width:500px) {
    .secondary {
        margin-top: 25px;
    }

    .title h1 {
        font: normal normal normal 40px/53px var(--passheure-font-family-blackchancery);
    }

    .underline img {
        position: relative;
        height: auto;
        width: auto;
        z-index: 1;
    }
}

