.title-container {
    position: relative;
    padding-top: 45px;
    display: grid;
    overflow: hidden;
    width:auto;
    height: 100vh;
    left:0;
    right:0;
}

.title-container img {
    display: flex;
    pointer-events: none;
    position: absolute;
    justify-self: center;
    height: 100%;
    width: auto;
    min-width: 100%;
    z-index: -1;
  }

.title {
    text-align: center;
    font: normal normal normal 50px/63px var(--passheure-font-family-blackchancery);
    letter-spacing: var(--passheure-character-spacing-0);
    color: var(--passheure-white);
    margin: auto;
}

.underline {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

