<div class="container">
    <div class="plan-container">
        <img src="/assets/img/plan-machine.png" alt="Plans de la mahine temporelle" loading="lazy">
    </div>
    <div class="description-container">
        <div class="title">
            <h3>La Fondation Charon</h3>
        </div>
        <div class="description">
            <p>Professeure Charon, brillante scientifique rejetée par ses pairs pour ses idées révolutionnaires a réussi à fonder dans le plus grand secret un laboratoire de recherche sur le voyage temporel. Elle et son équipe se sont mis en tête de créer une véritable machine à voyager dans le temps… avec un certain succès.
                <br><br>
                Mais prenez garde, la machine n’est pas tout à fait stable : il semblerait qu’au-delà d’une heure la fiabilité technique de cette fabuleuse invention ne soit plus assurée…
            </p>
        </div>
        <div class="logo-charon">
            <img src="/assets/img/logos/Logo_Fondation_Charon.png" alt="Logo Fondation Charon" loading="lazy">
        </div>
        <div class="button-charon">
            <btn-passheure>Découvrir la mission</btn-passheure>
        </div>
    </div>
</div>