.container {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    background-color: var(--passheure-blue);
}

.plan-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
}

.plan-container img {
    max-width: 100%;
}

.description-container {
    margin: 35px;
}

.title {
    font: normal normal normal 40px/50px var(--passheure-font-family-blackchancery);
    letter-spacing: 0px;
    color: var(--passheure-white);
    text-align: left;
}

.description {
    font: normal normal normal 18px/21px var(--passheure-font-family-perpetua);
    letter-spacing: 0px;
    color: var(--passheure-white);
    text-align: left;
}

.logo-charon {
    display: flex;
    justify-content: right;
}

.logo-charon img {
    height: 200px;
}

.button-charon {
    display: flex;
    justify-content: center;
    margin: 30px;
}

@media (max-width: 1300px) {
    .title {
        font: normal normal normal 35px/45px var(--passheure-font-family-blackchancery);
    }

    .description {
        font: normal normal normal 16px/20px var(--passheure-font-family-perpetua);
    }

    .logo-charon img {
        height: 150px;
    }
}

@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100% 100%;
    }

    .plan-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .description-container {
        margin: 10px;
    }

    .title {
        font: normal normal normal 30px/40px var(--passheure-font-family-blackchancery);
    }

    .description {
        font: normal normal normal 12px/18px var(--passheure-font-family-perpetua);
    }

    .button-charon {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media (max-width: 700px) {
    .title {
        font: normal normal normal 30px/40px var(--passheure-font-family-blackchancery);
    }

    .title h3 {
        margin: 0;
    }

    .description {
        font: normal normal normal 12px/18px var(--passheure-font-family-perpetua);
    }

    .button-charon {
        margin: 10px;
    }
}

@media (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100% 100% 100%;
    }

    .plan-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .button-charon {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}