.aventure-charon-container {
    display: block;
    background: var(--passheure-blue) 0% 0% no-repeat padding-box;
    padding: 25px;
    text-align: center;
}

.aventure-charon-container h2 {
    font: normal normal normal 40px/50px var(--passheure-font-family-blackchancery);
    color: var(--passheure-white);
}

.aventure-charon-container p {
    width: 55%;
    margin: auto;
    font: normal normal normal 18px/21px var(--passheure-font-family-perpetua);
    color: var(--passheure-white);
    text-align: left;
}

.aventures-btn-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 50px;
}

.aventure-btn {
    width: 300px;
    height: 200px;
    background: var(--passheure-orange) 0% 0% no-repeat padding-box;
    border-radius: 25%;
    border-color: var(--passheure-gray);
    margin: 20px;
}

.aventure-btn img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(131deg) brightness(100%) contrast(100%);
}

.aventure-btn p {
    font: normal normal normal 40px/50px var(--passheure-font-family-blackchancery);
    color: var(--passheure-white);
    text-align: center;
    width: auto;
}


.mission-container {
    display: block;
}

.photos-container {
    position:relative;
    padding-top: 50px;
    height: auto;
    max-width: 100%;
    
    background: var(--passheure-blue) 0% 0% no-repeat padding-box;
    background: linear-gradient(
    to bottom,
    var(--passheure-blue) 0%,
    var(--passheure-blue) 75%,
    var(--passheure-orange) 75%,
    var(--passheure-orange) 100%
  );

    overflow: hidden;
}

.photos {
    position: relative;
    min-width: 900px;
    left: 50%;
    transform: translateX(-50%);
}

.signature {
    position: absolute;
    left: 0px;
    bottom: 0px;;
}

.mission-description-container {
    padding: 50px;
    background: var(--passheure-orange) 0% 0% no-repeat padding-box;
    text-align: center;
}

.mission-description-container h2 {
    font: normal normal normal 40px/50px var(--passheure-font-family-blackchancery);
    letter-spacing: 0px;
    color: var(--passheure-blue);
}

.mission-description-container p {
    font: normal normal normal 20px/23px var(--passheure-font-family-perpetua);
    letter-spacing: 0px;
    color: var(--passheure-blue);
    max-width: 66%;
    width: fit-content;
    text-align: left;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 75px;
}

.ordre-mission-btn {
    max-width: 90%;
    width: 500px;
    background: var(--passheure-blue) 0% 0% no-repeat padding-box;
    border-radius: 63px;

    font: normal normal normal 34px/42px var(--passheure-font-family-blackchancery);
    letter-spacing: 0px;
    color: var(--passheure-white);

    border-color: var(--passheure-gray);
}

.prochainement {

}

@media(max-width:900px) {
    .aventure-charon-container {
        padding-top: 100px;
    }

    .aventure-charon-container p {
        width: 95%;
    }

    .mission-description-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .mission-description-container p {
        max-width: 85%;
    }
}

@media(max-width:700px) {

    .aventures-btn-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .aventure-btn {
        width: 150px;
        height: 150px;
        margin: 5px;
    }

    .aventure-btn p {
        display: none;
    }
}

@media(max-width:500px) {
    .mission-description-container p {
        font: normal normal normal 18px/21px var(--passheure-font-family-perpetua);
    }
    .ordre-mission-btn {
        font: normal normal normal 20px/28px var(--passheure-font-family-blackchancery);
    }
}