<section class="aventure-charon-container">
    <h2>La Fondation Charon</h2>
    <p>Professeure Charon, brillante scientifique rejetée par ses pairs pour ses idées révolutionnaires a réussi à fonder dans le plus grand secret un laboratoire de recherche sur le voyage temporel. Elle et son équipe se sont mis en tête de créer une véritable machine à voyager dans le temps… avec un certain succès. 
        <br><br>
        Mais prenez garde, la machine n’est pas tout à fait stable : il semblerait qu’au-delà d’une heure la fiabilité technique de cette fabuleuse invention ne soit plus assurée…</p>
    <div class="aventures-btn-container">
        <a href="nos-aventures#congregation">
            <button class="aventure-btn">
                <img src="/assets/img/rooms-logo/Icon feather-book-open.svg" alt="La congrégation" loading="lazy"
                width=60px height=60px>
                <p>La congrégation</p>
            </button>
        </a>
        <a href="nos-aventures#prochainement">
            <button class="aventure-btn">
                <img src="/assets/img/rooms-logo/Icon-ionic-ios-rocket.svg" alt="prochainement" loading="lazy"
                width=60px height=60px>
                <p></p>
            </button>
        </a>
        
        <!-- <button class="aventure-btn">
            <img src="" alt="" loading="lazy">
            <p>Aventure 3</p>
        </button> -->
    </div>
    <btn-passheure-reservation>Réserver votre session !</btn-passheure-reservation>
</section>
<section class="mission-container">
    <div id="congregation" class="photos-container">
        <img src="/assets/img/photo-titles/Bandeau_MissionCongregation.png" alt="Photos de la congrégation" width="100%" height="auto"></div>
    <div class="mission-description-container">
        <h2>La Congrégation</h2>
        <p>Au début du XVème siècle, une puissante congrégation de sorcières fut fondée en secret. 
            Elle avait pour dessein de répertorier l’ensemble des savoirs de la communauté. 
            Connaissances et formules furent conservées cachées dans un mystérieux grimoire. 
            Pour éviter que le précieux recueil finisse dans de mauvaises mains, 
            il fut confié à une des plus anciennes de la Congrégation. 
            Cette sorcière, appelée Nahema, exerçait le jour le métier d’apothicaire et 
            fit de sa petite échoppe un refuge pour tous les membres de la communauté. 
            Il est temps pour vous aujourd’hui de révéler le mystère de la Congrégation et ainsi 
            dévoiler ce que les sorcières ont dissimulé durant des siècles…</p>

        <button class="ordre-mission-btn" (click)="openModal()">Découvrez la lettre de mission</button>
    </div>
</section>

<section class="prochainement">
    <div id="prochainement" class="photos-container"><img src="" alt=""></div>
    <div class="mission-description-container">
        <h2>Prochainement</h2>
        <p>Encore un peu de patience...</p>
    </div>
</section>


<app-modal #congregation_modal>
    <h2 class="ordre-mission-title">La Fondation Charon</h2>
    <p class="ordre-mission-description">La fondation Charon et l’ensemble de ses membres sollicitent votre aide pour mener à bien 
        leur premier test de voyage temporel en situation réelle. Cet essai représente pour nous 
        le moyen d’expérimenter notre technologie et a pour objectif secondaire d’explorer les temps passés de notre Histoire. 
        Après des mois de travail acharnés, nos talentueux scientifiques sont parvenus à programmer précisément 
        la machine afin qu’elle puisse assurer un voyage au cœur du Moyen-âge. En vous portant volontaire auprès 
        de notre Fondation, vous serez directement transportés en l’an 1418 où vous vous engagerez à accomplir 
        en notre nom une importante mission. A l’aide des informations que nous avons pu recueillir, 
        vous serez chargés de retrouver un précieux ouvrage. Une fois découvert, le livre devra être subtilisé et 
        rapporté au sein de notre établissement dans la plus grande discrétion. 
        L’ordre de mission est simple et si vous suivez nos instructions à la lettre, 
        vous ne rencontrerez aucune difficulté majeure. Votre collaboration implique une adhésion complète aux principes 
        de notre Fondation. Ainsi, l’objet devra nous être remis dès votre arrivée et 
        nous nous réservons le droit de garder le silence face à certains de vos questionnements. 
        Enfin, le secret de notre Fondation devra être préservé à tout prix et aucune entorse à nos règles ne sera tolérée… 
        Toute personne volontaire désireuse de s’impliquer dans cette aventure historique est la bienvenue dans notre Fondation. 
        Rejoignez-nous !</p>
        <p class="ordre-mission-signature">Pr Charon et Associés</p>
</app-modal>