<nav>
    <div class="nav-icon">
        <logo-header></logo-header>
    </div>
    <div class="main-navlinks">
        <button *ngIf="links" (click)="toggleNav()" 
        class="hamburger" type="button"
        aria-label="Toggle navigation"
        aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navlinks-container">
            <a *ngFor="let link of links" [routerLink]="link.url"
            aria-current="page">{{link.name}}</a>
        </div>
    </div>
    <div class="nav-reservation">
        <btn-passheure-header link="/reservation">Réservation</btn-passheure-header>
    </div>
</nav>