.cdv-container {
    background-color: var(--passheure-orange);
    font-family: var(--passheure-font-family-perpetua);
    color: var(--passheure-white);
    

    padding: 50px;
}

.cdv-container h2 {
    text-align: center;
}

.ss-cdv-container {
    padding-bottom: 25px;
    padding-top: 25px;
}

@media(min-width:700px) {
    .cdv-container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .cdv-container h2 {
        font-size: 40px;
    }

    .cdv-container h3 {
        font-size: 30px;
    }

    .cdv-container p {
        font-size: 24px;
        margin-left: 50px;
    }
}