<section class="cdv-container">
    <h2>CONDITIONS G&Eacute;N&Eacute;RALES DE VENTE</h2>
    <p>Soci&eacute;t&eacute;&nbsp;: SARL CHIMERIA</p>
    <p>Nom Commercial&nbsp;: Le Pass&rsquo;Heure</p>
    <p>
        Les pr&eacute;sentes conditions g&eacute;n&eacute;rales de vente sont disponibles &agrave; tout moment et sont syst&eacute;matiquement
        port&eacute;es &agrave; la connaissance de chaque utilisateur pr&eacute;alablement &agrave; toute r&eacute;servation
        d&rsquo;une session de jeu. Ainsi, le simple fait de r&eacute;aliser une r&eacute;servation et de cocher la case
        &laquo;&nbsp;J&rsquo;accepte les conditions g&eacute;n&eacute;rales de vente&nbsp;&raquo; lors du processus de
        paiement implique l&rsquo;acceptation enti&egrave;re et sans r&eacute;serve de l&rsquo;utilisateur &agrave; ces
        conditions g&eacute;n&eacute;rales de vente.
    </p>

    <section class="ss-cdv-container">
        <h3>ARTICLE 1 &ndash; OBJET</h3>
        <p>1.1 Le Pass&rsquo;Heure est un concept qui appartient &agrave; la soci&eacute;t&eacute; SARL CHIMERIA inscrite au
        <a href="https://www.greffe-tc-lyon.fr/" target="_blank"> registre du commerce et des soci&eacute;t&eacute;s de LYON</a> sous le n&deg; 835 182 858.</p>
        <p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales de vente sont applicables &agrave; tout contrat de mise
        &agrave; disposition d&rsquo;une salle de jeu conclu entre la soci&eacute;t&eacute; CHIMERIA, ci-apr&egrave;s d&eacute;nomm&eacute;e
        &laquo;&nbsp;CHIMERIA&nbsp;&raquo; et d&rsquo;autre part les utilisateurs de la salle, ci apr&egrave;s d&eacute;nomm&eacute;s
        &laquo;&nbsp;UTILISATEURS&nbsp;&raquo; qu&rsquo;ils aient r&eacute;serv&eacute; en personne ou qu&rsquo;ils fassent
        partie de l&rsquo;&eacute;quipe de l&rsquo;utilisateur ayant effectu&eacute; la r&eacute;servation, ci-apr&egrave;s
        d&eacute;nomm&eacute; &laquo;&nbsp;ACHETEUR&nbsp;&raquo;.</p>
        <p>L&rsquo;espace de jeu mis &agrave; la disposition des UTILISATEURS est d&eacute;nomm&eacute; &laquo;&nbsp;SALLE&nbsp;&raquo;
        et le contrat de mise &agrave; disposition incluant les pr&eacute;sentes conditions g&eacute;n&eacute;rales de vente
        est d&eacute;nomm&eacute; &laquo;&nbsp;CONTRAT&nbsp;&raquo;.</p>
        <p>Le site internet de la soci&eacute;t&eacute; CHIMERIA regroupant les informations relatives &agrave; la SALLE et au
        jeu dans son int&eacute;gralit&eacute; ainsi que les tarifs propos&eacute;s est d&eacute;nomm&eacute; &laquo;&nbsp;SITE
        INTERNET&nbsp;&raquo;.</p>
        <p>La partie de jeu pour laquelle l&rsquo;ACHETEUR paie et r&eacute;serve sur le SITE INTERNET est d&eacute;nomm&eacute;e
        &laquo;&nbsp;SESSION DE JEU&nbsp;&raquo;.</p>
        <p>Ces conditions s&rsquo;appliquent quel que soit le moyen de r&eacute;servation utilis&eacute;, que cette derni&egrave;re
        soit effectu&eacute;e via le SITE INTERNET de CHIMERIA ou aupr&egrave;s du personnel ou des membres de CHIMERIA.</p>
        <p>1.2 CHIMERIA poss&egrave;de le droit de modifier ou de faire modifier tout ou partie des termes et conditions
        ci-dessous ainsi que le contenu de son SITE INTERNET (<a href="https://www.lepassheure.fr">lepassheure.fr</a>) &agrave; tout moment, &agrave; sa seule discr&eacute;tion
        et sans avis pr&eacute;alable.</p>
        <p>1.3 Les conditions g&eacute;n&eacute;rales de vente de CHIMERIA sont disponibles sur son SITE INTERNET et peuvent
        &ecirc;tre consult&eacute;es librement sur simple demande aupr&egrave;s du personnel d&rsquo;accueil de
        CHIMERIA.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 2 &ndash; MISE A DISPOSITION ET UTILISATION DE LA SALLE</h3>
        <p>2.1 CHIMERIA donne le droit aux UTILISATEURS d&rsquo;occuper la SALLE pour une dur&eacute;e maximale de 60
        (soixante) minutes.</p>
        <p>Les UTILISATEURS acceptent que la dur&eacute;e maximale de pr&eacute;sence dans la SALLE soit de 60 (soixante)
        minutes, et ce qu&rsquo;ils soient ou non parvenus &agrave; r&eacute;soudre toutes les &eacute;nigmes marquant la
        fin du jeu. Sur le m&ecirc;me principe, les UTILISATEURS acceptent que le jeu s&rsquo;ach&egrave;ve avant la fin des
        60 (soixante) minutes maximales dans le cas o&ugrave; ils auraient r&eacute;ussi &agrave; r&eacute;soudre l&rsquo;ensemble
        des &eacute;nigmes en moins de 60 (soixante) minutes et ce sans que cela fasse l&rsquo;objet d&rsquo;un quelconque
        ajustement ou compensation tarifaire.</p>
        <p>2.2 L&rsquo;occupation de la SALLE a pour seul et unique objet de participer &agrave; un jeu organis&eacute; par
        CHIMERIA, lequel doit &ecirc;tre r&eacute;alis&eacute; en &eacute;quipe de 2 &agrave; 6 personnes maximum.</p>
        <p>2.3 L&rsquo;acc&egrave;s &agrave; la SALLE n&rsquo;est autoris&eacute; que sur pr&eacute;sentation de l&rsquo;email
        de confirmation de r&eacute;servation (envoy&eacute; peu apr&egrave;s le processus de paiement &agrave; l&rsquo;ACHETEUR)
        et sur pr&eacute;sentation d&rsquo;une pi&egrave;ce d&rsquo;identit&eacute; de ce dernier.</p>
        <p>2.4 Compte tenu de la complexit&eacute; du jeu et de la maturit&eacute; qu&rsquo;il exige, les UTILISATEURS dont l&rsquo;&acirc;ge
        est inf&eacute;rieur &agrave; 12 ans ne peuvent &ecirc;tre autoris&eacute;s &agrave; participer. Les UTILISATEURS
        mineurs &acirc;g&eacute;s de 12 ans et plus doivent &ecirc;tre accompagn&eacute;s d&rsquo;un adulte. CHIMERIA se r&eacute;serve
        le droit de demander une pi&egrave;ce d&rsquo;identit&eacute; afin de v&eacute;rifier l&rsquo;&acirc;ge des
        UTILISATEURS.</p>
        <p>2.5 Les UTILISATEURS sont tenus de maintenir la SALLE et l&rsquo;int&eacute;gralit&eacute; de ses installations en
        bon &eacute;tat et de l&rsquo;utiliser conform&eacute;ment &agrave; l&rsquo;usage autoris&eacute;. De ce fait, les
        UTILISATEURS reconnaissent au CONTRAT que toute d&eacute;gradation intentionnelle ou caus&eacute;e par une mauvaise
        manipulation de la SALLE et de l&rsquo;ensemble de ses &eacute;quipements sera sujet &agrave; une refacturation.</p>
        <p>2.6 Par ailleurs, les UTILISATEURS sont tenus d&rsquo;utiliser la SALLE et ses installations de sorte &agrave; n&rsquo;occasionner
        ou ne risquer d&rsquo;occasionner aucun dommage &agrave; eux-m&ecirc;mes ainsi qu&rsquo;aux autres UTILISATEURS.</p>
        <p>2.7 Les UTILISATEURS s&rsquo;engagent, durant toute leur pr&eacute;sence au sein des locaux de CHIMERIA, &agrave;
        se comporter de fa&ccedil;on raisonnable et respectable, &agrave; se conformer aux r&egrave;gles en vigueur et
        &agrave; collaborer avec le personnel de CHIMERIA.</p>
        <p>A ce titre, CHIMERIA ne tol&egrave;re aucune forme de violence, qu&rsquo;elle soit verbale ou physique, sous forme
        de harc&egrave;lement ou d&rsquo;intimidation envers le personnel et les membres de CHIMERIA ou les autres
        UTILISATEURS.</p>
        <p>CHIMERIA se r&eacute;serve le droit de refuser l&rsquo;acc&egrave;s aux locaux &agrave; toute personne dont le
        comportement s&rsquo;apparenterait aux &eacute;l&eacute;ments cit&eacute;s pr&eacute;c&eacute;demment. Par mesure de
        s&eacute;curit&eacute;, CHIMERIA se r&eacute;serve &eacute;galement le droit de refuser l&rsquo;acc&egrave;s
        &agrave; tout UTILISATEUR sous influence d&rsquo;alcool ou de stup&eacute;fiants. Pour l&rsquo;ensemble des
        conditions mentionn&eacute;es ci-dessus, l&rsquo;interdiction d&rsquo;acc&egrave;s &agrave; la SALLE ne donne droit
        &agrave; aucune indemnit&eacute; ou remboursement.</p>
        <p>2.8 En raison de la nature m&ecirc;me du jeu, aucun enregistrement qu&rsquo;il soit vid&eacute;o ou audio ne peut
        &ecirc;tre r&eacute;alis&eacute; dans la SALLE. Ainsi, l&rsquo;utilisation d&rsquo;appareils d&rsquo;enregistrement
        vid&eacute;o et/ou audio (cela inclut notamment et sans s&rsquo;y limiter&nbsp;: t&eacute;l&eacute;phones mobiles,
        cam&eacute;ras, Go Pro) est formellement interdite. Toute tentative d&rsquo;enregistrement de ce type, occasionnera
        l&rsquo;arr&ecirc;t complet du jeu et ce pour tous les UTILISATEURS de l&rsquo;&eacute;quipe.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 3 &ndash; TARIFS</h3>
        <p>3.1 Les tarifs pratiqu&eacute;s par CHIMERIA sont indiqu&eacute;s sur le SITE INTERNET sous la rubrique &laquo;&nbsp;<a href="/reservation">Tarifs/R&eacute;servation</a>&nbsp;&raquo;
          et sont &eacute;galement affich&eacute;s &agrave; l&rsquo;accueil des locaux de CHIMERIA.</p>
        <p>3.2 Les tarifs sont mentionn&eacute;s en euros (&euro;), toutes taxes comprises (TTC) et correspondent au prix par
          UTILISATEUR pour une SESSION DE JEU de 60 minutes maximum.</p>
        <p>Toute autre prestation donnera lieu &agrave; une facturation suppl&eacute;mentaire.</p>
        <p>3.3 Le tarif par UTILISATEUR est fix&eacute; en fonction du nombre de participants au sein d&rsquo;une m&ecirc;me
          &eacute;quipe (2 &agrave; 6 personnes maximum) et varie &eacute;galement selon la date et l&rsquo;heure de la
          SESSION DE JEU.</p>
        <p>3.4 CHIMERIA se r&eacute;serve le droit de modifier ses tarifs &agrave; tout moment, la SESSION DE JEU &eacute;tant
          toutefois factur&eacute;e au tarif en vigueur au moment de sa r&eacute;servation.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 4 &ndash; R&Eacute;SERVATION</h3>
        <p>4.1 La mise &agrave; disposition d&rsquo;une SALLE est conditionn&eacute;e &agrave; la r&eacute;servation et
            &agrave; son paiement pr&eacute;alable et int&eacute;gral par l&rsquo;ACHETEUR sur le SITE INTERNET de CHIMERIA
            (<a href="https://www.lepassheure.fr">lepassheure.fr</a>).</p>
        <p>4.2 Seules les personnes majeures, &acirc;g&eacute;es de plus de 18 ans au moment de la r&eacute;servation, peuvent
            &ecirc;tre ACHETEURS.</p>
        <p>4.3 Il est de la responsabilit&eacute; de l&rsquo;ACHETEUR de v&eacute;rifier que la SESSION DE JEU r&eacute;serv&eacute;e
            corresponde &agrave; ses attentes.</p>
        <p>4.4 Toutes les r&eacute;servations sont effectu&eacute;es depuis le SITE INTERNET et selon les disponibilit&eacute;s
            affich&eacute;es sur ce dernier. La r&eacute;servation n&rsquo;est ferme et d&eacute;finitive qu&rsquo;apr&egrave;s
            r&eacute;ception de l&rsquo;email de confirmation de r&eacute;servation, lequel est envoy&eacute; &agrave; l&rsquo;ACHETEUR
            &agrave; l&rsquo;issue du processus de paiement.</p>
        <p>4.5 Il est possible, dans certains cas exceptionnels, que le personnel de CHIMERIA puisse effectuer la r&eacute;servation
            pour le compte de l&rsquo;ACHETEUR si ce dernier ne peut effectuer lui-m&ecirc;me et par ses propres moyens la r&eacute;servation
            sur le SITE INTERNET. Dans ce cas pr&eacute;cis, l&rsquo;ACHETEUR accepte sans aucune r&eacute;serve que ce type de
            r&eacute;servation n&rsquo;entra&icirc;ne aucune responsabilit&eacute; de la part de CHIMERIA ou de son personnel,
            celui-ci n&rsquo;agissant alors qu&rsquo;en tant qu&rsquo;op&eacute;rateur de saisie selon les instructions donn&eacute;es
            par l&rsquo;ACHETEUR. L&rsquo;ACHETEUR renonce donc &agrave; tout recours du fait d&rsquo;une mauvaise utilisation,
            d&rsquo;une atteinte &agrave; la confidentialit&eacute; de ses donn&eacute;es ou d&rsquo;une utilisation frauduleuse
            de son compte.</p>
        <p>4.6 La r&eacute;servation enregistr&eacute;e ne peut donner lieu &agrave; aucune annulation, modification ou
            remboursement.</p>
        <p>4.7 Une r&eacute;servation ne peut &ecirc;tre transf&eacute;r&eacute;e ou revendue &agrave; des fins commerciales.
            Si une r&eacute;servation est transf&eacute;r&eacute;e ou revendue en violation de cet article, le porteur de
            celle-ci se verra refuser l&rsquo;acc&egrave;s &agrave; la SALLE.</p>
        <p>4.8 En cas de retard d&rsquo;un ou des UTILISATEURS pour une SESSION DE JEU r&eacute;serv&eacute;e, les
            UTILISATEURS pr&eacute;sents &agrave; l&rsquo;heure du rendez-vous pourront d&eacute;cider s&rsquo;ils souhaitent ou
            non d&eacute;buter la partie. Dans tous les cas, la SALLE devra &ecirc;tre lib&eacute;r&eacute;e &agrave; l&rsquo;heure
            butoir pr&eacute;vue dans la r&eacute;servation initiale.</p>
        <p>4.9 CHIMERIA se r&eacute;serve le droit de refuser l&rsquo;acc&egrave;s &agrave; la SALLE aux UTILISATEURS dont le
            retard s&rsquo;&eacute;l&egrave;verait &agrave; 30 minutes ou plus par rapport &agrave; l&rsquo;horaire de la
            SESSION DE JEU. L&rsquo;ACHETEUR et/ou les UTILISATEURS ne pourront en aucun cas exiger de remboursement, qu&rsquo;il
            soit total ou partiel, de la SESSION DE JEU.</p>
        <p>4.10 Si le nombre d&rsquo;UTILISATEURS se pr&eacute;sentant pour participer &agrave; la SESSION DE JEU est inf&eacute;rieur
            &agrave; celui pr&eacute;vu lors de la r&eacute;servation, l&rsquo;ACHETEUR et/ou les UTILISATEURS ne pourront pr&eacute;tendre
            au remboursement de la diff&eacute;rence de prix.</p>
        <p>4.11 Si le nombre d&rsquo;UTILISATEURS se pr&eacute;sentant pour participer &agrave; la SESSION DE JEU est sup&eacute;rieur
            &agrave; celui pr&eacute;vu lors de la r&eacute;servation (ceci dans la limite de 6 UTILISATEURS maximum autoris&eacute;s
            par SALLE), la diff&eacute;rence de prix devra &ecirc;tre r&eacute;gl&eacute;e avant de participer &agrave; la
            SESSION DE JEU.</p>
        <p>4.12 CHIMERIA se r&eacute;serve le droit de refuser toute r&eacute;servation &agrave; un ACHETEUR qui n&rsquo;aurait
            pas pay&eacute; l&rsquo;ensemble des prestations qui lui auraient &eacute;t&eacute; factur&eacute;es et par la m&ecirc;me
            et dans ces circonstances pr&eacute;cises, l&rsquo;acc&egrave;s &agrave; la SALLE &agrave; tout UTILISATEUR faisant
            partie de l&rsquo;&eacute;quipe de l&rsquo;ACHETEUR.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 5 &ndash; PAIEMENT </h3>
        <p>5.1 Seuls les paiement par carte de cr&eacute;dit sont accept&eacute;s sur le SITE INTERNET. Si l&rsquo;ACHETEUR n&rsquo;est
            pas en mesure de r&eacute;gler le montant de la r&eacute;servation par carte bancaire, celle-ci ne sera pas
            effective. Dans le cas o&ugrave; l&rsquo;ACHETEUR n&rsquo;aurait pas la possibilit&eacute; de payer par carte de cr&eacute;dit,
            ce dernier pourra contacter CHIMERIA pour d&eacute;finir un autre moyen de paiement.</p>
        <p>5.2 CHIMERIA a confi&eacute; la gestion de sa plateforme de paiement &agrave; un prestataire sp&eacute;cialis&eacute;
            dans la s&eacute;curisation des transactions en ligne. Ce dernier ne conserve aucune donn&eacute;e concernant l&rsquo;ACHETEUR
            dans ses bases de donn&eacute;es.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 6 &ndash; DROIT DE R&Eacute;TRACTATION</h3>
        <p>Conform&eacute;ment &agrave; <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000028741428" target="_blank">l&rsquo;article 121-21-8 du code de la consommation</a>, le droit de r&eacute;tractation
            ne peut &ecirc;tre exerc&eacute; pour les contrats de prestations de services d'h&eacute;bergement, autres que d'h&eacute;bergement
            r&eacute;sidentiel, de services de transport de biens, de locations de voitures, de restauration ou d'activit&eacute;s
            de loisirs qui doivent &ecirc;tre fournis &agrave; une date ou &agrave; une p&eacute;riode d&eacute;termin&eacute;e.
            Par cons&eacute;quent, aucune r&eacute;servation ne peut &ecirc;tre annul&eacute;e ou rembours&eacute;e sauf dans le
            cadre d&rsquo;une annulation du seul fait de CHIMERIA. Dans ce dernier cas, le montant de la r&eacute;servation
            initiale sera rembours&eacute;.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 7 &ndash; DONN&Eacute;ES PERSONNELLES </h3>
        <p>7.1 L&rsquo;ACHETEUR est responsable de l&rsquo;exactitude des informations saisies sur le formulaire de r&eacute;servation
          en ligne sur le SITE INTERNET.</p>
        <p>7.2 L&rsquo;ACHETEUR accepte de recevoir de la part de CHIMERIA des informations et offres commerciales sur son
          adresse email ou sur son t&eacute;l&eacute;phone mobile.</p>
        <p>7.3 L&rsquo;ACHETEUR et/ou l&rsquo;UTILISATEUR qui saisit ses coordonn&eacute;es t&eacute;l&eacute;phoniques sur le
          SITE INTERNET de CHIMERIA accepte d&rsquo;ores et d&eacute;j&agrave; d&rsquo;&ecirc;tre contact&eacute; par CHIMERIA
          par t&eacute;l&eacute;phone ou SMS.</p>
        <p>7.4 L&rsquo;ACHETEUR renseignant les coordonn&eacute;es des autres UTILISATEURS (noms et pr&eacute;noms, num&eacute;ros
          de t&eacute;l&eacute;phone, adresses email) autorise CHIMERIA &agrave; envoyer des informations et offres
          commerciales &agrave; ces derniers. Il prend l&rsquo;enti&egrave;re responsabilit&eacute; de la communication de ces
          informations et CHIMERIA ne saurait &ecirc;tre poursuivie pour une telle utilisation de donn&eacute;es.</p>
        <p>7.5 CHIMERIA s&rsquo;engage &agrave; ne pas transmettre les donn&eacute;es personnelles de ses UTILISATEURS
          &agrave; une soci&eacute;t&eacute; ext&eacute;rieure au groupe CHIMERIA, hors requ&ecirc;te d&rsquo;une autorit&eacute;
          habilit&eacute;e par la loi et dans le cadre des dispositions l&eacute;gales en vigueur.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 8 &ndash; S&Eacute;CURIT&Eacute;</h3>
        <p>8.1 L&rsquo;UTILISATEUR s&rsquo;engage &agrave; respecter toutes les mesures de s&eacute;curit&eacute; qui lui sont
          donn&eacute;es, qu&rsquo;elles soient contractuelles, affich&eacute;es sur le SITE INTERNET ou donn&eacute;es
          oralement par le personnel de CHIMERIA.</p>
        <p>8.2 Il est formellement et strictement interdit de fumer ou de vapoter &agrave; l&rsquo;int&eacute;rieur des
          locaux.</p>
        <p>8.3 Chaque UTILISATEUR s&rsquo;engage &agrave; prendre connaissance et &agrave; respecter les consignes de s&eacute;curit&eacute;
          et protection incendie, de m&ecirc;me que les issues de secours. Celles-ci sont clairement identifi&eacute;es dans
          les locaux de CHIMERIA. Il est &agrave; ce titre formellement interdit de g&ecirc;ner les issues de secours,
          lesquelles doivent rester d&eacute;gag&eacute;es en toute circonstance. L'UTILISATEUR pourra utiliser les issues de
          secours si et seulement si la situation exige l&rsquo;&eacute;vacuation du local (incendie par exemple). Tout abus
          et/ou ouverture intempestive de ces issues par un ou plusieurs UTILISATEUR(S) entra&icirc;nera la refacturation des
          co&ucirc;ts engendr&eacute;s par cet abus.</p>
        <p>8.4 L&rsquo;UTILISATEUR est au fait qu&rsquo;il est absolument interdit d&rsquo;apporter dans les locaux de
          CHIMERIA et dans la SALLE des objets consid&eacute;r&eacute;s comme (1) des dangers physiques (explosif,
          inflammable, comburant, gaz sous pression ou liqu&eacute;fi&eacute;, corrosif), (2) dangereux pour la sant&eacute;
          (toxique, corrosif pour la peau, irritant/sensibilisant, canc&eacute;rog&egrave;ne/t&eacute;ratog&egrave;ne) et (3)
          dangereux pour le milieu aquatique.</p>
        <p>8.5 De m&ecirc;me, l&rsquo;usage de la force et/ou de la violence est formellement interdit. Toute d&eacute;gradation
          de la SALLE due &agrave; une utilisation anormale de l&rsquo;espace jeu pourra donner lieu &agrave; une
          refacturation.</p>
        <p>8.6 La responsabilit&eacute; de CHIMERIA ne saurait &ecirc;tre engag&eacute;e en cas de vol ou de perte d&rsquo;objets
          ou effets personnels appartenant aux UTILISATEURS, ces derniers restant responsables de leur garde et surveillance
          durant toute la dur&eacute;e de leur pr&eacute;sence au sein des locaux de CHIMERIA.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 9 &ndash; CONFIDENTIALIT&Eacute;</h3>
        <p>9.1 CHIMERIA attend de ses UTILISATEURS qu&rsquo;ils ne divulguent aucun d&eacute;tail de la SALLE et du jeu, que
          ce soit de mani&egrave;re directe et/ou indirecte.</p>
        <p>9.2 En participant &agrave; une SESSION DE JEU, les UTILISATEURS reconnaissent implicitement que l&rsquo;ensemble
          du scenario ainsi que les &eacute;nigmes et m&eacute;canismes mis en place au sein de la SALLE sont strictement
          confidentiels.</p>
        <p>9.3 Toute divulgation partielle ou totale, &agrave; un tiers, des &eacute;l&eacute;ments pr&eacute;c&eacute;demment
          cit&eacute;s violerait les int&eacute;r&ecirc;ts commerciaux de la soci&eacute;t&eacute; CHIMERIA.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 10 &ndash; PHOTOS ET CAM&Eacute;RAS </h3>
        <p>10.1 Des photos de chaque &eacute;quipe d&rsquo;UTILISATEURS pourront &ecirc;tre prises avant ou apr&egrave;s la
          SESSION DE JEU, avec l&rsquo;accord des UTILISATEURS. Ces photos pourront &ecirc;tre utilis&eacute;es par CHIMERIA
          afin d&rsquo;alimenter son SITE INTERNET ou son &eacute;cosyst&egrave;me digital (cela inclut notamment et sans s&rsquo;y
          limiter&nbsp;: Facebook, Twitter, Instagram). Ces m&ecirc;mes photos seront envoy&eacute;es par email &agrave;&nbsp;
          l&rsquo;ACHETEUR dans un d&eacute;lai raisonnable apr&egrave;s la session de jeu.</p>
        <p>10.2 CHIMERIA ne pourra &ecirc;tre tenue pour responsable de l&rsquo;utilisation qui sera faite des photos par les
          UTILISATEURS et/ou l&rsquo;ACHETEUR.</p>
        <p>10.3 Pour les besoins du jeu, chaque SALLE comporte un dispositif de vid&eacute;osurveillance et d&rsquo;&eacute;coute
          permettant au personnel de CHIMERIA de suivre la SESSION DE JEU et d&rsquo;aiguiller les UTILISATEURS si besoin. Ce
          dispositif contribue uniquement au jeu et n&rsquo;enregistre en aucun cas les SESSIONS DE JEU des UTILISATEURS. L&rsquo;acc&egrave;s
          &agrave; la SALLE est soumise &agrave; l&rsquo;acceptation par les UTILISATEURS d&rsquo;un tel moyen de
          supervision.</p>
    </section>

    <section class="ss-cdv-container">
        <h3>ARTICLE 11 &ndash; DROIT APPLICABLE ET TRIBUNAUX COMP&Eacute;TENTS</h3>
        <p>Les pr&eacute;sentes conditions g&eacute;n&eacute;rales et tout CONTRAT conclu incorporant ces termes et conditions
          sont r&eacute;gis par le droit fran&ccedil;ais et tous les litiges sont soumis &agrave; la comp&eacute;tence
          exclusive des tribunaux fran&ccedil;ais.</p>
    </section>
</section>