<section class="mention-container">
    <h2>MENTIONS LÉGALES</h2>

    <section class="ss-mention-container vcard">
        <h3>ÉDITEUR</h3>
        <p class="adr">
            Le présent site est la propriété de la société <span class="fn org">Chimeria SARL</span>, SARL au capital social de 10 000 €, immatriculée sous
            le numéro 835 182 858 au RCS de Lyon, dont le siège social est situé 
            <span class="adr">
                en région <span class="region" title="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</span> au 
                <span class="street-address">16 Rue Pasteur</span> - <span class="postal-code">69007</span> 
                 à <span class="locality">LYON</span> en <span class="country-name">FRANCE</span>.
            </span>
            L’activité de la société est exercée à la même adresse.
        </p>
        <div class="geo" style="display: none;">
            <abbr class="latitude" title="45.753318786621094">N 45° 45' 11.948</abbr> 
            <abbr class="longitude" title="4.840113162994385">W 4° 50' 24.407</abbr>
        </div>
    
          <p>
            SIRET : 835 182 858 00018 | NAF : 9329Z | N° de TVA : FR77 835 182 858<br/>
            Tél : <a href="tel:+33437664988">+33 4 37 66 49 88</a> | Email : <a class="email" href="mailto:contact@lepassheure.fr">contact@lepassheure.fr</a> | <a class="url" href="https://www.lepassheure.fr">www.lepassheure.fr</a>
          </p>
    </section>
    <section class="ss-mention-container vcard">
        <h3>DIRECTRICE DE LA PUBLICATION</h3>
        <p><span class="fn">Maïté Castro</span>
            <span class="n" style="display: none;">
            <span class="honorific-prefix">Dr.</span>
            <span class="given-name">Maïté</span>
            <span class="family-name">Castro</span>
            <span class="honorific-suffix">Ph.D.</span>
        </span>, <span class="note"> Gérante de <span class="org">Chimeria SARL</span> </span> .</p>
    </section>
    <section class="ss-mention-container">
        <h3>HÉBERGEMENT</h3>
        <p>
            OVH SAS <br/>
            2 rue Kellermann BP 80157 59053 ROUBAIX Cedex 1 FRANCE <br/>
            Tél : +33 9 72 10 10 07 | Email : support@ovh.com
        </p>
    </section>
</section>