<div class="container">
    <div class="title">
        <h3>Venez vivre une expérience originale en plein coeur de Lyon !</h3>
    </div>
    <div class="icon">
        <icon-description></icon-description>
        <icon-description></icon-description>
        <icon-description></icon-description>
    </div>
    <div class="description">
        <p>Plongez au coeur de la Fondation Charon, <br>
        Prenez place à bord de nore extraordinaire machine temporelle, <br>
        Et devenez les personnages principaux de cette aventure unique !</p>
    </div>
    <div class="button-reservation">
        <btn-passheure-reservation>Réservez votre session !</btn-passheure-reservation>
    </div>
</div>