.container {
    background-color: var(--passheure-blue);
}

.title {
    font: normal normal normal 30px/38px var(--passheure-font-family-blackchancery);
    letter-spacing: 0px;
    color: var(--passheure-white);
    text-align: center;
    padding: 10px;
}

.icon {
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: center;
}

.description {
    font: normal normal normal 25px/28px var(--passheure-font-family-perpetua);
    letter-spacing: 0px;
    color: var(--passheure-white);
    text-align: center;
    padding-top: 20px;
}

.button-reservation {
    padding: 25px;
    margin: auto;
}

@media(max-width: 700px) {
    .title {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media(max-width: 500px) {
    .title {
        font: normal normal normal 24px/30px var(--passheure-font-family-blackchancery);
        padding: 50px;
        padding-bottom: 25px;
    }

    .description {
        font: normal normal normal 18px/24px var(--passheure-font-family-perpetua);
    }
}