<header-app [links]="links"></header-app>
<title-bandeau [image]="imageReservation">
    Réservation
</title-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-cercle-1.svg" [position]="left"></inter-bandeau>
<price-bandeau></price-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-trait-1.svg" [position]="center"></inter-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-cercle-3.svg" [position]="right"></inter-bandeau>
<review-bandeau></review-bandeau>
<localisation-bandeau></localisation-bandeau>
<footer-app></footer-app>