.container {
    background-image: url("/assets/img/photo-titles/IMG_0493.png");
    background-size: cover;
    padding: 50px;
}

.title {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'passheure-title-font';
}

.intro {
    width: 75%;
    margin: auto;
    color: white;
    font-size: 15px;
    font-family: 'passheure-title-font';
}

.icon-escape {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.conclusion {
    width: 75%;
    margin: auto;
    color: white;
    font-size: 15px;
    font-family: 'passheure-title-font';
}