<div class="container">
    <div class="title">
        <h3>Qu'est-ce qu'un Escape Game ?</h3>
    </div>
    <div class="intro">
        <p>Un "live escpe game" ? Un "escape game" ? Une "escape room" ? 
            Ces trois termes désignent la même chose et pourraient se traduire en français par "jeu d'évasion grandeur nature".
            Il s'agit d'un tout nouveau genre de loisir qui mêle esprit d'équipe, logique, observation, communication et sang-froid
        <br><br>
            De quoi avez-vous besoin pour participer à ces jeux d'évasion grandeur nature ?
            <br><br>
            Un ou plusieurs acolytes (ami.e.s, famille, collègues... à vous e choisir !) : le jeu est ouvert aux équipes de 2 à 6 personnes. <br>
            Une heure de votre temps : la durée maximum du jeu est limitée à une heure (hors explications de début et de fin de jeu). <br>
            Et c'est tout, aucune connaissance, compétence ou capacité physique ne sont requises ! Un véritable jeu d'enfant ou presque...
        </p>
    </div>
    <div class="icon-escape">
        <icon-description-escape [image]="groupe_image">1 équipe de voyageur temporelle</icon-description-escape>
        <icon-description-escape [image]="mission_image">1 mission capitale</icon-description-escape>
        <icon-description-escape [image]="timer_image">1 heure <br> +/- quelques minutes</icon-description-escape>
    </div>
    <div class="conclusion">
        <p>Nos jeux d'évasion grandeur nature sont des créations imaginées et conçues avec amour par notre bande de passionnés de jeux en tous genres.
            Un conseil donc : ne vous fiez pas à vos expériences passés dans le domaine, vous pourriez être surprise et surpris... ;-) 
        </p>
    </div>
</div>