<div class="footer-container">
    <div class="info-passheure">
        <logo-header></logo-header>
        <p><br>
            16 rue Pasteur 69007 Lyon <br>
            contact@lepassheure.fr <br>
            04 37 66 49 88</p>
    </div>
    <div class="links">
        <a href="partenaire" aria-current="page">Nos Partenaires</a> <br>
        <a href="faq" aria-current="page">FAQ</a> <br>
        <a href="legacy" aria-current="page">Mentions légales / CGV</a>
    </div>
    <div class="networks">
        <h2>Suivez-nous <br>sur les réseaux !</h2>
        <div class="networks-logos">
            <a href="">
                <img src="/assets/img/footer/icone-facebook.png" alt="facebook">
            </a>
            <a href="">
                <img src="/assets/img/footer/icone-facebook.png" alt="instagram">
            </a>
        </div>
    </div>
</div>