<div class="footer-container">
    <div class="info-passheure">
        <logo-header></logo-header>
        <p><br>
            <a href="https://goo.gl/maps/YFvHeKtg7Ho" target="_blank">rue Pasteur 69007 Lyon</a><br>
            <a href="mailto:contact@lepassheure.fr">contact@lepassheure.fr</a> <br>
            <a href="tel:+33437664988">04 37 66 49 88</a> </p>
    </div>
    <div class="links">
        <a href="partenaire" aria-current="page">Nos Partenaires</a> <br>
        <a href="faq" aria-current="page">FAQ</a> <br>
        <a href="legacy" aria-current="page">Mentions légales / CGV</a>
    </div>
    <div class="networks">
        <h2>Suivez-nous <br>sur les réseaux !</h2>
        <div class="networks-logos">
            <a href="https://www.facebook.com/Le-PassHeure-Live-Escape-Game-890660504438433/" target="_blank">
                <img src="/assets/img/footer/icone-facebook.png" alt="facebook">
            </a>
            <a href="https://www.instagram.com/lepassheure/" target="_blank">
                <img src="/assets/img/footer/icone-facebook.png" alt="instagram">
            </a>
        </div>
    </div>
</div>