
<header-app [links]="links"></header-app>
<title-bandeau></title-bandeau>
<bandeau-description></bandeau-description>
<definition-escape></definition-escape>
<fondation-charon-bandeau></fondation-charon-bandeau>



<logo-header></logo-header>
<btn-passheure-header link="./">Réservation</btn-passheure-header>
<btn-passheure-reservation link="./">Réservez votre session !</btn-passheure-reservation>
<btn-passheure link="./">Découvrir la mission</btn-passheure>
<icon-description></icon-description>
<icon-description-escape>1 équipe de voyageurs temporels</icon-description-escape>