<header-app [links]="links"></header-app>
<title-bandeau [image]="imageAccueil">
    Découvrez Le Pass'Heure <br>
    L'escape game immersif <br>
    qui vous fera voyager à travers le Temps !
</title-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-cercle-1.svg" [position]="left"></inter-bandeau>
<bandeau-description></bandeau-description>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-trait-1.svg" [position]="center"></inter-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-cercle-1.svg" [position]="right"></inter-bandeau>
<definition-escape></definition-escape>
<fondation-charon-bandeau></fondation-charon-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-cercle-2.svg" [position]="left"></inter-bandeau>
<price-bandeau></price-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-trait-1.svg" [position]="center"></inter-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-cercle-3.svg" [position]="right"></inter-bandeau>
<communique-bandeau></communique-bandeau>
<localisation-bandeau></localisation-bandeau>
<review-bandeau></review-bandeau>
<footer-app></footer-app>