<header-app [links]="links"></header-app>
<title-bandeau [image]="image">
    Nos Jeux Nomades
</title-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-cercle-1.svg" [position]="left"></inter-bandeau>
<bandeau-description></bandeau-description>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-trait-1.svg" [position]="center"></inter-bandeau>
<inter-bandeau imgUrl="/assets/img/inter-containers/icon-cercle-2.svg" [position]="left"></inter-bandeau>
<localisation-bandeau></localisation-bandeau>
<footer-app></footer-app>