<div class="localisation-bandeau-container" loading="lazy">
    <h2>Retrouvez-nous !</h2>
    <div class="localisation-container">
        <div class="google-map"></div>
        <div class="info-container">
            <div class="info">
                <img src="/assets/img/map/icone-ici.svg" loading="lazy">
                <p>16 rue Pasteur 69007 Lyon</p>
            </div>
            <div class="info">
                <img src="/assets/img/map/icone-email.svg" loading="lazy">
                <p>04 37 66 49 88</p>
            </div>
            <div class="info">
                <img src="/assets/img/map/icone-telephone.svg" loading="lazy">
                <p>04 37 66 49 88</p>
            </div>
            <div class="info">
                <div class="tram-metro-img">
                    <img src="/assets/img/map/icone-tram.png" loading="lazy">
                    <br>
                    <img src="/assets/img/map/icone-métro.png" loading="lazy">
                </div>
                <p>Guillotière <br>
                    Gabriel Péri</p>
            </div>
            <div class="info">
                <img src="/assets/img/map/icone-parking.png" loading="lazy" height="40px" width="40px">
                <p>Parking Fosse aux Ours</p>
            </div>
        </div>
    </div>
</div>