.localisation-bandeau-container {
    display: block;
    text-align: center;
    background-image: url("/assets/img/map/IMG_9966.jpg");
    background-size: cover;
    padding: 50px;
}

.localisation-bandeau-container h2 {
    font: normal normal normal 32px/40px var(--passheure-font-family-blackchancery);
    letter-spacing: 0px;
    color: var(--passheure-white);
    margin: auto;
    padding-bottom: 50px;
}

.localisation-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.google-map {
    text-align: center;
}

.info-container {
    position: relative;
    display: block;
    text-align: center;
}

.transparent-background {
    position:absolute;
    top:0px;
    left: 0px;
    height: 100%; 
    width: 100%; 
    z-index: 1;
    background: var(--passheure-gray) 0% 0% no-repeat padding-box;
    border: 1px solid var(--passheure-gray);
    border-radius: 52px;
    opacity: 0.52;
}

.info {
    position: relative;
    z-index: 2;
    display: flex;
    margin: auto;
    text-align: left;
    align-items: center;
    padding-left: 50px;
}

.info p {
    font: normal normal normal 20px/23px var(--passheure-font-family-perpetua);
    letter-spacing: 0px;
    color: var(--passheure-white);
    text-align: left;
    padding-left: 25px;
}

a {
    text-decoration: none;
}

.tram-metro-img {
    display: block;
    text-align: center;
}

@media(max-width:1000px) {
    .localisation-bandeau-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .localisation-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .google-map {
        order:2;
    }
    
    .info-container {
        order:1;
    }
}